@{
    ViewBag.Title = "Contact";
}
@{
    ViewBag.Message = "Welcome to our GYM";
}
<h1>@ViewBag.Title:</h1>
<h2>@ViewBag.Message</h2>
<div class="container">
    <div class="form-horizontal">
        <address>
            <p>Stara Zagora</p>
            <hr />
            <p>William Gladstone 16</p>
            <hr />
            <abbr title="Phone">GSM:089 625 978</abbr>
        </address>
    </div>
</div>
